<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weygo.weygophone">

    <application
        android:name="WGApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IOSched">
        <activity android:name=".pages.base.WGBaseServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WGMainActivity" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".pages.test.WGTestActivity" android:theme="@style/Transparent">
        </activity>
        <activity android:name=".pages.register.WGRegisterActivity" android:theme="@style/Transparent">
        </activity>
        <activity android:name=".pages.login.WGLoginActivity" android:theme="@style/Transparent">
        </activity>
        <activity android:name=".pages.clientCenter.list.WGClientServiceActivity"></activity>
        <activity android:name=".base.WGTitleActivity"></activity>
        <activity android:name=".pages.clientCenter.detail.WGClientServiceDetailActivity"></activity>
        <activity android:name=".pages.findPassword.WGFindPasswordActivity"></activity>
        <activity android:name=".pages.setting.WGSettingActivity"></activity>
        <activity android:name=".pages.collection.WGCollectionActivity"></activity>
        <activity android:name=".pages.footprint.WGFootprintActivity"></activity>
        <activity android:name=".pages.integral.useIntegral.WGUseIntegrationActivity"></activity>
        <activity android:name=".pages.integral.myIntegral.WGMyIntegralActivity"></activity>
        <activity android:name=".pages.order.list.WGOrderListActivity"></activity>
        <activity android:name=".pages.order.detail.WGOrderDetailActivity"></activity>
        <activity android:name=".pages.order.commit.WGCommitOrderActivity"></activity>
        <activity android:name=".pages.personInfo.WGPersonInfoActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <activity android:name=".pages.goodDetail.WGGoodDetailActivity"></activity>
        <activity android:name=".pages.goodDetail.WGTestViewPickerActivity"></activity>
        <activity android:name=".pages.classifyDetail.WGClassifyDetailActivity"></activity>
        <activity android:name=".pages.classifyFilter.WGClassifyDetailFilterActivity"></activity>
        <activity android:name=".pages.shopcart.WGShopCartListActivity"></activity>
        <activity android:name=".pages.address.edit.WGEditAddressActivity"></activity>
        <activity android:name=".pages.address.list.WGAddressListActivity"></activity>
        <activity android:name=".pages.coupon.WGCouponListActivity"></activity>
        <activity android:name=".pages.receipt.WGReceiptActivity"></activity>
        <activity android:name=".pages.pay.payWeb.WGPayWebActivity"></activity>
        <activity android:name=".pages.pay.paySuccess.WGPaySuccessActivity"></activity>
    </application>

    <!-- Include following permission if you load images from Internet -->
     <uses-permission android:name="android.permission.INTERNET" /> 
    <!-- Include following permission if you want to cache images on SD card --> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>