<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weygo.weygophone">

    <application
        android:name="WGApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IOSched">
        <activity android:name=".pages.base.model.WGBaseServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WGMainActivity" android:theme="@style/Transparent">
        </activity>
        <activity android:name=".pages.test.WGTestActivity" android:theme="@style/Transparent">

        </activity>
        <activity android:name=".pages.slider.WGSliderActivity" android:theme="@style/Transparent">
        </activity>
    </application>

    <!-- Include following permission if you load images from Internet -->
     <uses-permission android:name="android.permission.INTERNET" /> 
    <!-- Include following permission if you want to cache images on SD card --> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>